.button {
    padding: 12px 16px;
    border: none;
    border-radius: var(--radius-small);
    font-weight: var(--semibold);
    font-size: var(--sub-title-px);
    line-height: var(--sub-title-lh);
}
