.button {
    background-color: var(--background-primary-light);
    color: var(--text-primary);

    &:disabled {
        background-color: var(--background-disabled);
        color: var(--text-disabled-400);
    }
}
